body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: darkgrey;
    }
    
    nav,li,ul,a{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: darkred;
        color: white;
        letter-spacing: 3px;
    
    }
    li,a{
        list-style: none;
        width: 100px;
        text-decoration: none;
        
    }
    .input1 {
        padding: 20px;
    }
    .input2{
        padding: 20px;
    }
    
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:20%;
        color: white;
        letter-spacing: 3px;
        
    }

    table {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:5%;
        color: white;
        letter-spacing: 3px;
        font-size: medium;

    }
    
    button:hover, a:hover {
        background-color: darkslategrey;
      }