body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
background-color: rgb(145, 171, 172);
}

nav,li,ul,a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(134, 149, 150);
    color: white;
    letter-spacing: 3px;

}
li,a{
    list-style: none;
    width: 100px;
    text-decoration: none;
    
}
.input1 {
    padding: 20px;
}
.input2{
    padding: 20px;
}
 


.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
    color: white;
    letter-spacing: 3px;
    
}

button:hover, a:hover {
    background-color: rgb(113, 150, 165);
  }
