body,html{
margin: 0;
padding: 0;
box-sizing: none;
background-image: radial-gradient(#212121 20%, transparent 20%),
      radial-gradient(#0f0e0e 20%, transparent 20%);
  background-color:black;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;

color: white;
font-family: sans-serif;
letter-spacing: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    position: absolute;
    top: 35%;
    align-items: center;
}
input,label{
    margin: 15px;
    display: flex;
    align-items: center;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(156, 9, 9);
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#movieList{
    position: absolute;
    right: 30%;
    top: 100%;
    
    font-size: 20px;
    
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}